/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  line-height: 1; }
  
html, body {
   width: 100%;
}

body, form, input, textarea {
  font-family: "freight-text-pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: #222222;
  position: relative; }
  @media screen and (max-width: 640px) {
    body, form, input, textarea {
      font-size: 15.3px; } }
  body:focus, form:focus, input:focus, textarea:focus {
    outline: none;
    border-color: #D4BC50; }

h1, h2, h3, h4, h5, h6, input[type="submit"], a {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 12px 0 6px 0; }

h1 {
  font-size: 58.5px; }

h2 {
  font-size: 49.5px; }

h3 {
  font-size: 40.5px;
  font-family: "freight-display-pro";
  font-weight: 400;
  font-style: italic;
  text-transform: none;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 1; }

h4 {
  font-size: 31.5px; }

h5 {
  font-size: 22.5px;
  color: #56587F; }

h6 {
  font-size: 18px; }

p {
  margin-bottom: 0.75em; }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  margin-top: 16px;
  margin-right: 1.5em; }

section, .section {
  padding: 3em; }
  @media screen and (max-width: 800px) {
    section, .section {
      padding: 2em 0; } }
  section--content, .section--content {
    max-width: 640px;
    margin: 0 auto; }
    @media screen and (max-width: 640px) {
      section--content, .section--content {
        max-width: 320px; } }
  @media screen and (max-width: 640px) and (max-width: 320px) {
    section--content, .section--content {
      max-width: 280px; } }
  section--heading, .section--heading {
    margin-bottom: 1em;
    text-align: center;
    color: #56587F;
    letter-spacing: 4px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    @media screen and (max-width: 640px) {
      section--heading, .section--heading {
        font-size: 28px;
        margin-bottom: 1.5em; } }
    section--heading:after, .section--heading:after {
      display: block;
      position: relative;
      top: 20px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      content: "";
      height: 4px;
      width: 160px;
      background: #D4BC50; }
      @media screen and (max-width: 640px) {
        section--heading:after, .section--heading:after {
          top: 10px; } }

form input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 4px solid #373851;
  -webkit-transition: 250ms;
          transition: 250ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

input[type="submit"], a {
  background: #373851;
  color: white;
  letter-spacing: 2px;
  border: 4px solid #373851;
  -webkit-transition: 250ms;
          transition: 250ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  input[type="submit"]:hover, a:hover {
    cursor: pointer;
    background: white;
    color: #373851; }

.freight-sans-pro-bold {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 600; }

.sidebar {
  z-index: 4;
  width: 240px;
  position: fixed;
  top: 0;
  right: -240px;
  bottom: 0;
  background: #373851;
  padding: 20px;
  -webkit-transition: 250ms;
          transition: 250ms; }
  .sidebar a {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
      margin-bottom: 20px;
    box-shadow: none;
    background: none;
    line-height: 20px;
    vertical-align: middle; }
  .sidebar .toggle {
    display: none;
    position: fixed;
    right: 20px;
    z-index: 3;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-top: -20px;
    font-size: 36px;
    color: white;
    -webkit-transition: 150ms;
            transition: 150ms; }
    .sidebar .toggle:hover {
      color: #D4BC50;
      cursor: pointer; }
    .sidebar .toggle::after {
      font-family: "fontAwesome";
      content: "\f0c9";
      position: relative;
      left: 0; }
    @media screen and (max-width: 1080px) {
      .sidebar .toggle {
        display: block; } }
  .sidebar.open {
    right: 0px;
    background: #373851; }
    .sidebar.open .toggle {
      right: 260px; }
      .sidebar.open .toggle::after {
        content: "\f00d"; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  max-height: 100%;
  background: url("../../assets/img/Untitled-1.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-size: auto 100%; }
  @media screen and (min-aspect-ratio: 1000/575) {
    .header {
      background-size: 100% auto; } }
  .header--navbar {
    z-index: 3;
    padding: 0 40px;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "freight-sans-pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    width: 100%;
    color: #D4BC50;
    -webkit-transition: 250ms;
            transition: 250ms; }
    @media screen and (max-width: 400px) {
      .header--navbar {
        padding: 0 20px; } }
    .header--navbar--logo h1 {
      font-size: 26px;
      margin: 0; }
      .header--navbar--logo h1 a {
        background: none;
        border: none;
        box-shadow: none;
        color: #D4BC50;
        margin: 0;
        padding: 0; }
        .header--navbar--logo h1 a:hover {
          color: white; }
    .header--navbar--nav a {
      background: none;
      border: none;
      box-shadow: none;
      color: white;
      margin: 0;
      padding: 0;
      margin-left: 20px; }
      .header--navbar--nav a:hover {
        color: #D4BC50; }
    @media screen and (max-width: 1080px) {
      .header--navbar--nav {
        display: none; } }
    .header--navbar.scroll {
      background: #373851; }
    .header--navbar .mobile-nav-toggle {
      color: white;
      display: none;
      z-index: 1; }
      @media screen and (max-width: 1080px) {
        .header--navbar .mobile-nav-toggle {
          display: block; } }
  .header--logo {
    width: 640px;
    max-width: 90%; }

section#our-story--proposal p, .our-story--proposal p {
  display: inline-block; }

section#our-story--proposal img, .our-story--proposal img {
  display: block;
  float: right;
  width: 320px;
  height: auto;
  margin: 0 0 20px 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media screen and (max-width: 640px) {
    section#our-story--proposal img, .our-story--proposal img {
      margin: 1em 1em;
      width: 90%; } }

section#our-story--Q1, .our-story--Q1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  section#our-story--Q1--lauren, section#our-story--Q1--eric, .our-story--Q1--lauren, .our-story--Q1--eric {
    width: 310px; }

#large-photo {
  height: 600px;
  background: url("../../assets/img/DSC_0096.jpg");
    background-position: center top;
    background-attachment: fixed;
    background-size: auto 100%; }
  @media screen and (min-aspect-ratio: 8/6) {
    #large-photo {
      background-size: 100% auto; } }

section#party {
  background: #373851;
  color: white; }
  section#party .section--heading {
    color: white; }
  section#party .section--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    section#party .section--content h3 {
      margin-bottom: 0.65em; }
    section#party .section--content .bridesmaids, section#party .section--content .groomsmen {
      width: 44%; }
      @media screen and (max-width: 640px) {
        section#party .section--content .bridesmaids, section#party .section--content .groomsmen {
          width: 320px; } }
      section#party .section--content .bridesmaids .quote h6, section#party .section--content .groomsmen .quote h6 {
        color: #D4BC50;
        margin-bottom: 1em;
        margin-top: 0;
        padding-bottom: 1em;
        text-align: right; }
      section#party .section--content .bridesmaids .quote p, section#party .section--content .groomsmen .quote p {
        margin-bottom: 0;
        color: #ccc; }

#events .section--content img {
  width: 100%; }

#travel-info {
  background: url("../../assets/img/jp2.jpg") fixed;
    background-size: cover; }
  #travel-info img {
    float: left;
    height: 164px;
    margin-right: 20px; }
    @media screen and (max-width: 640px) {
      #travel-info img {
        width: 100%;
        height: auto;
        margin-bottom: 1em; } }
  #travel-info address {
    margin-bottom: 20px;
    font-family: "freight-sans-pro", sans-serif;
    font-style: italic;
    font-weight: 300; }
  #travel-info hr {
    width: 160px;
    height: 4px;
    background: #D4BC50;
    border: none;
    margin: 30px auto; }
  #travel-info .section--heading:after {
    background: white; }
  #travel-info .section--content {
    box-sizing: content-box;
    background: white;
    border: 40px solid white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    @media screen and (max-width: 640px) {
      #travel-info .section--content {
        width: 90%;
        border: 1em solid white; } }
    #travel-info .section--content h5 a {
      display: inline;
      background: none;
      color: #56587F;
      padding: 0;
      border: none;
      -webkit-transition: 250ms;
              transition: 250ms;
      box-shadow: none; }
      #travel-info .section--content h5 a:hover {
        color: #D4BC50; }
    #travel-info .section--content i {
      font-size: 18px;
      color: #D4BC50; }
    #travel-info .section--content ul {
      list-style: square inside;
      margin-left: 1em; }

#gifts {
  background: url("../../assets/img/DSC_0110.jpg");
    background-size: 100% auto;
    background-position: center; }
  #gifts .section--heading {
    color: white; }
  #gifts .section--content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #gifts .section--content svg, #gifts .section--content path {
      fill: white;
      -webkit-transition: fill 250ms;
              transition: fill 250ms;
      height: auto; }
      #gifts .section--content svg:hover, #gifts .section--content path:hover {
        cursor: pointer; }
        #gifts .section--content svg:hover path, #gifts .section--content path:hover path {
          fill: #D4BC50; }
    #gifts .section--content .pb-logo, #gifts .section--content .bbb-logo {
      width: 300px;
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      box-shadow: none; }
      @media screen and (max-width: 640px) {
        #gifts .section--content .pb-logo, #gifts .section--content .bbb-logo {
          margin-top: 1em; } }

footer {
  height: 60px;
  background: #eee;
  color: #aaa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  footer p {
    margin: 0; }
